<!DOCTYPE html>
<html>

<head>

  <title>FUNTERTAINMENT</title>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">


</head>

<body>
  <header>
    <div class="logo">
      <img src="../static/images/iconlogo.png" alt="Berger Hut Logo">
    </div>
    <nav>
      <ul>
        <li><a href="music.html">Music</a></li>
        <li><a href="image.html">Image</a></li>
        <li><a href="#video">Video</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <div class="hero-content">
      <h1>Welcome to GenVisionary</h1>
      <p>Describe the music you want to create</p>
      <form action="/generate" method="POST">
        <label for="musicprompt"></label><br>
        <textarea name="musicprompt" id="musicprompt" rows="4" cols="50"
          placeholder="Enter your music prompt here"></textarea><br><br>
        <input type="submit" value="Generate" class="btn">
      </form>
    </div>
  </section>


  <section class="menu">
    <h2>Samples</h2>
    <div class="menu-items">


      <div class="menu-item">
        <img src="../static/images/music button.png" alt="music icon 1">
        <h3>Tribal Echoes</h3>
        <p>Deep house with tribal percussion and a soulful, haunting vocal loop</p>
        <audio controls>
          <source src="../static/audio_output/generated_audio2.0_1.wav" type="audio/wav">
          Your browser does not support the audio element.
        </audio>

        <!-- Audio player for the music -->
      </div>



      <div class="menu-item">
        <img src="../static/images/music button.png" alt="music icon 2">
        <h3>Brooding Cinematic Pulse</h3>

        <p>Cinematic orchestral with dark, brooding synths and glitchy sound effects</p>
        <audio controls>
          <source src="../static/audio_output/generated_audio2.0_2.wav" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
      </div>



      <div class="menu-item">
        <img src="../static/images/music button.png" alt="music icon 3">
        <h3>Velvet Horizons</h3>

        <p>Jazz-infused trip-hop with airy vocals, brushed drums, and mellow horn sections</p>
        <audio controls>
          <source src="../static/audio_output/generated_audio2.0_3.wav" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
      </div>



      <div class="menu-item">
        <img src="../static/images/music button.png" alt="music icon 4">
        <h3>Neon Pulse</h3>


        <p>80s synthwave with distorted vocals and a pulsating retro bassline</p>
        <audio controls>
          <source src="../static/audio_output/generated_audio2.0_4.wav" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
      </div>



      <div class="menu-item">
        <img src="../static/images/music button.png" alt="music icon 5">
        <h3>Ethereal Drift</h3>

        <p>Ambient soundscape, ethereal strings, and subtle electronic textures</p>
        <audio controls>
          <source src="../static/audio_output/generated_audio2.0_6.wav" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>
  </section>




  <footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="../static/images/iconlogo.png" alt="Logo">
      </div>
      <div class="footer-social">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <p class="footer-text">&copy; 2024 GenVisionary. All rights reserved.</p>
  </footer>


</body>



<script>
  const textarea = document.getElementById('musicprompt');
  textarea.addEventListener('input', function () {
    this.style.height = 'auto';
    this.style.height = this.scrollHeight + 'px';
  });
</script>